body { margin: 0; background: #222; color: #ccc; font: 14px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans }
h1 {font-size: 1.8em; color: #fff; margin-top: 0.5em;}
h2 {font-size: 1.3em; color: #fff; margin-top: 1.5em;}
h3 {font-size: 1.1em; color: #fff; }
p {margin: 0.5em 0;}
a {color: #FFAA00; cont-weight: bold;}

#main { width: 800px; margin: auto; background: #000 url(img/header.jpg) no-repeat; padding-bottom: 30px; }
#copyright { margin-top: 30px; text-align: center; color: #fff; font-size: 13px; }

.content { padding: 15px; }
.code, .cmd > .syntax { color: #33FF33; font-family: "Courier New", Courier, monospace; }
.fig { margin: 30px 0; text-align: center; font-style: italic; }
.fig img { display: block; margin: auto; }
.cmd { margin: 1em; border: 1px solid #555; padding: 1px; }
.cmd > .syntax { border: 1px solid #555; padding: 6px; background: #222; }
.cmd > .desc { padding: 5px; }

img.v { margin: 2em 0; margin-left: -16px; border: 1px solid #555; }
